[submodule "coref/asp/ASP"]
	path = coref/asp/ASP
	url = https://github.com/lyutyuh/ASP.git
[submodule "nel/blink/blink"]
	path = nel/blink/blink
	url = https://github.com/facebookresearch/BLINK.git
[submodule "coref/s2e-coref/s2e-coref"]
	path = coref/s2e-coref/s2e-coref
	url = git@github.com:yuvalkirstain/s2e-coref.git
[submodule "coref/coref_mt5/coref_mt5"]
	path = coref/coref_mt5/coref_mt5
	url = git@github.com:psaboia/coref_mt5.git
[submodule "nel/genre/GENRE"]
	path = nel/genre/GENRE
	url = git@github.com:facebookresearch/GENRE.git
[submodule "evaluations/quantitative/NER-Evaluation"]
	path = evaluations/quantitative/NER-Evaluation
	url = git@github.com:davidsbatista/NER-Evaluation.git
